body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

header {
  padding: 8px;
  color: #f9faf8;
  background-color: #1f2937;
  font-size: 24px;
}

section {
  background: #e5e7eb;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #f9faf8;
  background-color: #1f2937;
  padding: 8px;
}

.calc-container {
  background-color: #012235;
  padding: 8px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2px;
}

input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  flex-grow: 0.25;
  text-align: right;
  font-size: 24px;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9faf8;
}

.display {
  background-color: #3266ab;
  align-self: flex-end;
  margin-bottom: 16px;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

button {
  padding: 0;
  margin: 0px;
  flex-basis: calc(100% / 4);
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
}

.btn-bigger {
  flex-grow: 1;
}

.btn-color {
  background-color: #19689696;
  color: white;
}

.btn-color1 {
  background-color: #e8e8e8;
}

.operator {
  background-color: #97aacb;
}
